<%- include('../shared/admin/header') %>
    <div class="g-hd">
        <%- include('../shared/admin/navbarTop') %>
    </div>
    <div class="g-sd nemu_max">
        <ul class="side " id="side">
            <li class="sidebar-fold on iconfont icon-view_column icon-sanhengxian"></li>
            <li class="active">
                <a href="#/homeistration">
                	<i class="iconfont icon_styles icon-bokexinwen"></i>
                    <span class="nav-label">房源管理</span>
            	</a>
            </li>
            <li>
                <a href="#/tenantistration">
                	<i class="iconfont icon_styles icon-bokexinwen"></i>
                    <span class="nav-label">房源管理</span>
                </a>
            </li>
            <li class="expand">
                <a class="dpdtoggle" href="#/user?type=1">
                        <i class="iconfont icon_styles icon-sanx"></i>
                        <span class="nav-label">房源管理</span>
                    </a>
                <ul class="submenu">
                    <li class="active">
                        <a href="#/company"><i class="iconfont icon_styles icon-bokexinwen"></i><span class="nav-label">房源管理</span></a>
                    </li>
                    <li>
                        <a href="#/company"><i class="iconfont icon_styles icon-bokexinwen"></i><span class="nav-label">房源管理</span></a>
                    </li>
                </ul>
            </li>
            <li class="expand">
                <a class="dpdtoggle" href="#/user?type=1">
                        <i class="iconfont icon_styles icon-sanx"></i>
                        <span class="nav-label">房源管理</span>
                    </a>
                <ul class="submenu">
                    <li>
                        <a href="#/company"><i class="iconfont icon_styles icon-bokexinwen"></i><span class="nav-label">房源管理</span></a>
                    </li>
                    <li>
                        <a href="#/company"><i class="iconfont icon_styles icon-bokexinwen"></i><span class="nav-label">房源管理</span></a>
                    </li>
                    <li>
                        <a href="#/company"><i class="iconfont icon_styles icon-bokexinwen"></i><span class="nav-label">房源管理</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="g-mn nemu_max view_body">
        3
    </div>
    <%- include('../shared/admin/common') %>
    <%- include('../shared/admin/footer') %>