<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="baidu-site-verification" content="code-dL7u8FDDDm" />
    <meta name="google-site-verification" content="cIVGJa7S7wEOHMAg7loDLpWKPMfAHvfwEMbNU1waM34" />
    <meta name="shenma-site-verification" content="70dd10a2fa5d693640682813207d55fe_1660815110"/>
    <meta name="sogou_site_verification" content="x0BknmAi9X"/>
    <meta name="360-site-verification" content="728462101c2db6929bf799ce8ca2f830" />

    <meta name="msvalidate.01" content="1757786347EACC5625466CB8CDCD1CB9" />

    <title><%= title %>-黄继鹏博客</title>
    <meta name="keywords" content="黄继鹏,继小鹏,黄继鹏博客,博客,图文创作,原创知识,知识库,写作,阅读,教程,总结,笔记,技术分享,<%= title %>">
<% if(/\/article\//.test(url)||/\/about/.test(url)){%>
    <meta name="description" content="<%= abstract %>">
<%}else{%>
    <meta name="description" content="黄继鹏，黄继鹏博客，技术分享，黄继鹏的个人技术分享，随手记录我的每一个思想，做研究者而非畅想者，编程之路，用代码改变世界。">
<%}%>
    
    <link href="/images/logo_ioc.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/typlog.css">
    <script type="text/javascript">
        var shareImage = ''
    </script>
  </head>
  <body>
    

