<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/images/logo_ioc.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/sb-admin-2/css/sb-admin-2.css">
    <link rel="stylesheet" href="/libs/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin/common.css">

  </head>
  <body>
